{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <div class="form-buttons">
        <button class="btn">{{ button_label|default('Save') }}</button>
        <a href="{{ path('app_information_index') }}" class="btn btn-secondary">{{ 'Volver al listado'|trans }}</a>
    </div>
{{ form_end(form) }}
