{% extends 'base.html.twig' %}

{% block title %}Information index{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="table-wrapper">
        <h1>{{ 'Información de tu comunidad'|trans }}</h1>
        <div class="table-container">
            <a href="{{ path('app_information_new') }}" class="create-button">{{ 'Nueva información'|trans }}</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'Id'|trans }}</th>
                        <th>{{ 'Título'|trans }}</th>
                        <th>{{ 'fecha'|trans }}</th>
                        <th>{{' Información'|trans }}</th>
                        <th>{{ 'Comunidad'|trans }}</th>
                        <th>{{ 'Acciones'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for information in information %}
                    <tr>
                        <td>{{ information.id }}</td>
                        <td>{{ information.title }}</td>
                        <td>{{ information.dareInformation ? information.dareInformation|date('Y-m-d') : '' }}</td>
                        <td>{{ information.bodyInformation }}</td>
                        <td>{{ information.community }}</td>
                        <td>
                            <a href="{{ path('app_information_show', {'id': information.id}) }}">show</a>
                            <a href="{{ path('app_information_edit', {'id': information.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        
{% endblock %}
