
<button id="hamburger" class="hamburger" onclick="toggleSidebar()">☰</button>


<div id="sidebar" class="sidebar">
    <h2>GesTuFinca</h2>
    <img src="{{ asset('images/logo.jpg') }}" alt="Logo" class="sidebar-logo">
    <nav class="menu">
        <a href="{{ path('app_home') }}">{{ 'Inicio'|trans }}</a>
        <a href="#services">{{ 'Servicios'|trans }}</a>
        <a href="#c">{{ '¿Quienes somos?'|trans }}</a>
        <a href="#opinions">{{ 'Opiniones'|trans }}</a>
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <a href="#news">{{ 'Noticias'|trans }}</a>
        {% endif %}

        <a href="#contact">{{ 'Contacto'|trans }}</a>
        <a href="#login">{{ 'login'|trans }}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_user_index') }}">{{ 'Añadir Usuarios'|trans }}</a>
            
        {% endif %}
        
    </nav>
</div>


<script>
    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const hamburger = document.getElementById('hamburger');

        sidebar.classList.toggle('open');
        hamburger.classList.toggle('open');

        
        hamburger.textContent = hamburger.classList.contains('open') ? '✖' : '☰';
    }
</script>
 


<script>
    document.querySelectorAll('.menu a').forEach(link => {
        link.addEventListener('click', () => {
            const sidebar = document.getElementById('sidebar');
            const hamburger = document.getElementById('hamburger');

            if (sidebar.classList.contains('open')) {
                sidebar.classList.remove('open');
                hamburger.classList.remove('open');
                hamburger.textContent = '☰';
            }
        });
    });
</script>
