{% extends 'base.html.twig' %}

{% block title %}{{ 'Usuarios'|trans }}{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="table-wrapper">
        <h1>{{ 'Usuarios'|trans }}</h1>

        <div class="table-container">
            <a href="{{ path('app_user_new') }}" class="create-button">Create new</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'Id'|trans }}</th>
                        <th>{{ 'Email'|trans }}</th>
                        <th>{{ 'Actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ 'Ver'|trans }}</a>
                            <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'Editar'|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'No hay usuarios en la base de datos'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
